@import url("./global.css");

body {
    background-color: var(--color-black);
    /* Altera a cor de fundo */
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-header-item {
    color: var(--color-grey);
    /* Altera a cor de texto */
    text-decoration: none;
    font-family: var(--font-title);
    transition: 0.3s;
}

.nav-header-item:hover {
    color:#454545 ;

}

.active {
    color: var(--color-pink);
    /* Altera a cor de texto*/
    font-weight: bold;
}

.btn-header {
    background-color: var(--color-pink);
    padding: 8px 24px;
    border-radius: 10px;
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-title);
    transition: 0.3s;
}

.btn-header:hover {
    background-color: #a10073;
}

.menu-mobile {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px 0px;
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .section-indicator {
    align-self: self-start;
    color: var();
}

.img_main {

    transition: 1s;

}

.img_main:hover {
    transform: rotate(180deg);
}
.section-indicator {
    display: flex;
    gap: 8px;
    padding: 10px 12px;
    color: var(--color-pink);
    border: 1px solid var(--color-d-gray);
    border-radius: 10px;
    font-family: var(--font-title);
    font-weight: bold;
    font-size: var(--font-body4);
}

h1 {
    color: var(--color-white);
    width: 549px;
    font-size: var(--font-h1);
    font-family: var(--font-title);
    text-transform: capitalize;
}

h1 span {
    color: var(--color-pink);
}

main p {
    width: 546px;
}

.container-btn-main {
    display: flex;
    gap: 20px;
}

.btn-primary {
    background-color: var(--color-pink);
    color: var(--color-white);
    border-radius: 10px;
    padding: 14px 24px;
    text-decoration: none;
    font-family: var(--font-body);
    font-size: var(--font-body2);
}

.btn-secondary {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-family: var(--font-body);
    color: var(--color-white);
    border: 1.5px solid var(--color-d-gray);
    border-radius: 10px;
    padding: 14px 24px;
    font-size: var(--font-body3);
}

.section-statistics {
    display: flex;
    justify-content: center;
    gap: 56px;
    background-color: var(--color-l-black);
    padding: 40px 0px;
}

.statistics-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.statistics-number {
    color: var(--color-pink);
    font-size: var(--font-h2);
    font-family: var(--font-title);
}

.section-destiny {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px 0px;
}

.content-destiny {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.content-destiny p {
    width: 572px;
}

.card-destiny {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 364px;
    background-color: var(--color-l-black);
    border-radius: 20px;
    transition: 0.3s;
}

.card-destiny:hover {
    transform: translate(0px, -10px);
    box-shadow: 0px 0px 6px 0px var(--color-white);

}

.card-destiny-informations {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.card-destiny-informations h3 {
    color: var(--color-white);
    font-family: var(--font-body);
    font-size: var(--font-h3);
    text-align: center;
}

.destiny-reviews {
    display: flex;
    align-items: center;
    gap: 10px;
}

.destiny-reviews-stars {
    display: flex;
    gap: 5px;
}

.destiny-reviews p {
    font-size: var(--font-body4);
}

.destiny-details {
    display: flex;
    justify-content: space-between;
}

.destiny-details-duration {
    display: flex;
    align-items: center;
    gap: 10px;
}

.destiny-details-duration p {
    font-size: var(--font-body4);
}

.destiny-card-price {
    font-family: var(--font-title);
    color: var(--color-white);
    font-weight: bold;
    font-size: var(--font-h4);
}

.btn-book-now {
    background-color: var(--color-pink);
    padding: 10px 0px;
    text-align: center;
    color: var(--color-white);
    text-decoration: none;
    border-radius: 10px;
    font-family: var(--font-title);
    font-weight: bold;
    font-size: var(--font-body3);
}

.cards-destiny-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section-highlights {
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: var(--color-l-black);
    padding: 60px 0px;
}

.container-card-highlights {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 363px;
    background-color: var(--color-black);
    padding: 80px 35px;
    text-align: center;
    border-radius: 20px;
    transition: 0.3s;
}

.card-highlights:hover {
    transform: translate(0px, -10px);
    box-shadow: 1px 0px 5px 0px var(--color-pink);
}

.card-highlights h3{
    color: var(--color-white);
    font-family: var(--font-title);
    font-size: var(--font-h4);
}

.section-testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 60px;
}

.container-reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card-review{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-l-black);
    padding: 30px;
    border-radius: 20px;    
}

.user-review{
    display: flex;
    gap: 15px;
    align-items: center;
}

.user-review h3{
    color: var(--color-white);
    font-family: var(--font-title);
    font-size: var(--font-h4);
}

.card-review p{
    color: var(--color-grey);
    font-size: var(--font-body4);
    width: 304px;
    font-weight: 500;
}

.section-faq {
    display: flex;
    background-color: var(--color-l-black);
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 40px 0px;
}

.container-faq {
   
}

.faq-item{
    display: flex;
    width: 1138px;
    padding: 30px;
    background-color: var(--color-black);
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    border-radius: 10px;
    border-bottom: 1px solid var(--color-d-gray);
    cursor: pointer;
    transition: 0.5s;


}

.faq-item:hover {
    background-color: var(--color-pink);
}

.faq-item h3{
    color: var(--color-white);
    font-size: var(--font-h3);
    font-family: var(--font-title);
}


footer {
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
}

.footer-navigation {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.footer-navigation img {
    width: 174px;
}

.footer-navigation-item{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.footer-navigation-item h2 {
    font-size: var(--font-body1);
    font-family: var(--font-body);
    font-weight: 300;
}


.footer-nav ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.footer-nav ul li a{
    text-decoration: none;
    color: var(--color-grey);
    font-family: var(--font-body);
    font-size: var(--font-body2);

}

.footer-updates {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-updates h2 {
    font-size: var(--font-body1);
    font-family: var(--font-body);
    font-weight: 400;
    width: 198px;
}

.footer-updates form {
    display: flex;
    justify-content: space-between;
    width: 385px;
    border-bottom: 0.5px solid var(--color-d-gray);
    padding-bottom: 16px;
}

.footer-updates form input {
    padding: 12px 0px;
    background-color: transparent;
    color: var(--color-white);
    font-size: var(--font-body2);
    outline: none;

}

.footer-updates form button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-pink);
    border-radius: 100%;
    padding: 11px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-updates form button:hover {
    background-color: #a10073;
}

/* sempre lá embaixo */

@media (max-width:884px) {
    main {
        gap: 10px;
    }
    .menu-mobile {
    display: none;
}
    h1 {
        font-size: var(--font-h2);
        width: 450px;
    }
    .illustration-hero {
        width: 350px;
    }

    .card-destiny {
        width: 300px;
    }

    .container-reviews {
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;    
        gap: 10px;
    }

    .destiny-reviews p {
        font-size: 12px;
    }

    .faq-item {
        width: 850px;
    }


    .logo-footer {
        display: none;
        /* faz com que o elemento não exista */
    }
}

@media (max-width: 480px) {

    /* --- Header --- */
    header {
        flex-direction: column;
        gap: 25px;
        padding: 20px 0;
    }

    .nav-header ul {
        gap: 24px;
        flex-wrap: wrap;
        /* permite que os elementos quebrem por uma ou mais linhas */
        justify-content: center;
    }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }


    .menu-mobile span {
       padding: 2px 15px;
       background-color: var(--color-pink);
    }

    .nav-header,.container-btn-header {
        display: none;
    }

    /* --- Main (Hero) --- */
    main {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .content-main {
        flex-direction: column;
        width: 430px;
        align-items: center;
        text-align: center;
        gap: 24px;
    }

    h1 {
        font-size: var(--font-h2);
        width: 100%;
    }

    main p {
        width: 100%;
    }

    .illustration-hero {
        width: 90%;
        height: auto;
    }

    .container-btn-main {
        flex-direction: column;
        width: 100%;
    }

    .btn-secondary {
        justify-content: center;
    }

    .btn-primary {
        justify-content: center;
    }

    /* --- Estatísticas --- */
    .section-statistics {
        flex-direction: column;
        gap: 30px;
        padding: 40px 20px;
    }

    .statistics-number {
        font-size: var(--font-h3);
    }

    .statistics-description {
        font-size: var(--font-body3);
    }

    /* --- Destinos --- */
    .content-destiny {
        padding: 0 5px;
    }

    .content-destiny p {
        width: 100%;
    }

    .cards-destiny-container {
        flex-direction: column;
        align-items: center;
    }

    .card-destiny {
        width: 400px;
       
    }

    .destiny-reviews p {
        font-size: 12px;
    }

    /* --- Destaques --- */
    .container-card-highlights {
        flex-direction: column;
        align-items: center;
    }

    .card-highlights {
        width: 390px;
        padding: 40px 25px;
    }

    /* --- Depoimentos --- */
    .section-testimonials {
        padding: 40px 10px;
    }

    .container-reviews {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-review {
        padding: 24px;
    }

    .card-review p {
        width: 100%;
    }

    /* --- FAQ --- */
    .section-faq {
        padding: 40px 0;
    }

    .faq-item {
        width: 430px;
        padding: 20px;
    }

    .faq-item h3 {
        font-size: var(--font-body3);
    }

    /* --- Footer --- */
    footer {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .logo-footer {
        display: none;
    }

    .footer-navigation {
        width: 430px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .footer-navigation-item h2 {
        font-size: var(--font-h4);
    }

    .footer-nav ul li a {
        font-size: var(--font-body3);
    }

    .footer-updates {
        width: 430px;
        align-items: center;
        text-align: center;
    }

    .footer-updates h2 {
        font-size: var(--font-h4);
        width: 430px;
    }

    .footer-updates form {
        width: 430px;
        max-width: 385px;
    }

    .footer-updates form input {
        width: 430px;
        text-align: left;
    }
}